.header { padding: 0.3em 0.5em; background: #333; color: white; border-bottom: 1px solid #999; } 
.header .logo { float: left; font-size: 120%; }
.header .logo a:link,.header .logo a:visited,.header .logo a:hover { color: #fff; }
.header .user { float: right; }
.header .search { margin: 0 auto; text-align: center; }

.header_details { padding: 0.3em 0.5em; border-bottom: 1px solid #999; background: #fff; }

.title { font-weight: bold; }

.body_content { padding: 0 1em; }


.listcounter {
    margin: 0; padding: 0;
}
.boxof20 {
    float:left;
    min-width: 280px;
    max-width: 280px;
    padding: 10px 10px 10px 30px;
    border: 1px solid #999;
    margin: 0 0 10px 10px;
}


ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ccc;
    border-bottom: 1px solid #666;
    border-top: 1px solid #000;
}

.nav li {
    float: left;
    border-right:1px solid #666;
}
/*.nav li:last-child { border-right: none; }*/
.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}

.nav li a:hover:not(.active) {
    background-color: #111;
}

.nav .active {
    background-color: #4CAF50;
}

input[type=text], select, textarea {
    padding: 0.2em 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: #fff;
}

input[type=text]:focus, select:focus, textarea:focus {
    border: 1px solid #999;
    background: #f9f3dc;
}


input[type=submit], input[type=button] {
    background-color: #4CAF50;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover, input[type=button]:hover {
    background-color: #45a049;
}


.asl_sort, .sortlist_local {
  width: 100%;
  border-bottom: 1px solid #d9e3e7;
}
.asl_sort tbody tr:nth-child(odd) {
  background-color: #fff;
}
.asl_sort tbody tr:nth-child(even) {
  background-color: #e9f6fc;
}
.asl_sort tbody tr:hover {
  background-color: #f1f9ec;
}
.asl_sort td, .asl_sort th {
  padding: 5px 10px;
}
.asl_sort th {
  background: #2e3192;
  color: #fff;
  font-size: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
}
.asl_sort th.options {
  min-width: 60px;
}
.asl_sort tr {
  text-align: left;
  cursor: pointer;
}
.asl_sort td.options {
  text-align: right;
}

.asl_sort td.options a {
  padding: 0 2px;
  display: inline-block;
  font-size: 0;
  font-style: normal;
  font-weight: 400;
  color: #7e868a;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
}
.asl_sort td.options a:first-of-type {
  padding-left: 0;
}
.asl_sort td.options a:last-of-type {
  padding-right: 0;
}
.asl_sort td.options a:hover {
  color: #c6c7c8;
}
.asl_sort td.options a:before {
}
.asl_sort td.options a.delete:before {
  content: '\e017';
}
.asl_sort td.options a.view:before {
  content: '\e052';
}