.header { padding: 0.8em; background: #333; color: white; border-bottom: 1px solid #999; } 
.header a:link,.header a:visited,.header a:hover { color: #cdebf4; text-decoration: none; }
.header a:hover { text-decoration: underline; }
.header .logo { float: left; font-size: 165%; }
.logo a:link,.logo a:visited,.logo a:hover { color: #fff; text-decoration: none; }
.header .nav { float: left; margin: 0.5em 0 0 2em; }
.header .nav a { margin-left: 2em; }
.header .user { float: right; margin: 0.35em 1em 0 2em; }


.header .search { float: right; }


.header_details { padding: 1em; border-bottom: 1px solid #999; background: #fff; }
.header_details a { margin-right: 1em; }

.title { font-weight: bold; }

.body_content { padding: 0 1em; }

input[type=text], select, textarea {
    padding: 0.3em 0.6em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: #fff;
}

input[type=text]:focus, select:focus, textarea:focus {
    border: 1px solid #999;
    background: #f9f3dc;
    padding: 0.3em 0.6em;
}


input[type=submit], input[type=button] {
    background-color: #4CAF50;
    color: white;
    padding: 0.3em 0.6em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover, input[type=button]:hover {
    background-color: #45a049;
}


.asl_sort { width: 100%; cursor: pointer; }
.asl_sort th { margin: 0; padding: 0.3em; text-align: left; border-bottom: 3px solid #ccc; font-weight: bold; font-size: 125%; }
.asl_sort td { text-align: left; border-bottom: 1px solid #eee; padding: 0.3em; font-size: 90%; }
.asl_sort tr:nth-child(even) { background: #fff; }
.asl_sort tbody tr:hover { background: #cdebf4; }
.asl_sort th span { color: #999; }
.asl_sort .options { text-align: center; }
.asl_sort .options span { font-size: 150%; }
.asl_sort .options span:hover { color: red; }

.filters { cursor: pointer; border-bottom: 1px solid #ccc; padding: 0.3em; font-size: 120%; }
.filter_count { font-size: 80%; }
.filter_details { background: #fff; border: 1px solid #ccc; border-top: none; padding: 0.3em; }

.tbl { width: 100%; cursor: pointer; }
.tbl th { margin: 0; padding: 0.3em; text-align: left; border-bottom: 3px solid #ccc; font-weight: bold; font-size: 125%; }
.tbl td { text-align: left; border-bottom: 1px solid #eee; padding: 0.3em; font-size: 90%; }
.tbl tr { vertical-align: top; }
.tbl tr:nth-child(even) { background: #fff; }
.tbl tbody tr:hover { background: #cdebf4; }
.tbl th span { color: #999; }

.basic_table { width: 100%; }
.basic_table td, .basic_table td { text-align: left; vertical-align: top; }

.list_ordered { margin: 0; padding: 0; list-style-type: none; }
.list_ordered li { padding: 0.1em; border-bottom: 1px solid #ccc; }
.list_ordered li:nth-child(even) { background: #fff; }

/*.list_table { margin: 0 0 1em 0; padding: 0; border-top: 1px solid #ccc; border-right: 1px solid #ccc; }
.list_table td, .list_table th { padding: 0.2em 0.5em; border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; }
.list_table th { text-align: left; }

.list_ordered { margin: 0 0 1em 2.2em; padding: 0; }
.list_ordered li { margin: 0; padding: 0; }*/